body{margin:0; font-size:12px; font-family:"宋体";line-height:1;}
h1,h2,h3,h4,h5,h6{margin:0;font-size:12px; font-weight:normal;}
ul,ol{margin:0;padding:0;list-style:none;}
p,dl,dd{margin:0;}
strong,b{font-weight:normal;}
a{ text-decoration:none; color:#333;}
i,em{font-style:normal;}
img{ border:none;vertical-align:middle;}
table{border-spacing:0;border-collapse:collapse;}
table th{font-weight:normal; text-align:left;}
table th,table td{padding:0;vertical-align:top;}
input,textarea{padding:0;margin:0;border:none;background:none;outline:none;}
textarea{overflow:auto;resize:none;}
.clearfix {*zoom:1;}
.clearfix:after {content:"";display:block;clear:both;}